body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
}

header {
    left : 0;
    top: 0;
    background-color: #333;
    color: #fff;
    position : fixed;
    width: 100%;
    z-index : 1000;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

header li {
    padding: 15px 30px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    color: #f4f4f9;
}

header li:hover {
    background-color: #040404;
    transition: 1s;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.liens-utiles {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.liens-utiles a {
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.liens-utiles a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1 {
    text-align: center;
    color: #FF6347; /* Tomate */
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

h2 {
    color: #5DADE2; /* Vert clair */
    font-size: 1.8em;
    font-weight: bold;
}

/* Dropdown base styles */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    min-width: 200px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    z-index: 999;
    flex-direction: column;
}

.dropdown-menu a {
    padding: 15px 15px;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #040404;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

img{
    width: 90%;
    margin-left: 5%;
    height: auto;
}

